/* AdminPainel/Dashboard.module.css */
.dashboardContainer {
    background-color: #1e1e1e;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    border: 1px solid #333;
}

.dashboardTitle {
    color: #f2c12e;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

.card {
    background-color: #2a2a2a;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-size: 2rem;
    color: #f2c12e;
    margin: 0;
}

.card p {
    margin: 0.25rem 0 0 0;
    color: #ccc;
    font-size: 0.9rem;
}

/* --- NOVOS ESTILOS PARA O CARD DO PRÓXIMO CLIENTE --- */
.nextClientCard {
    background-color: #f2c12e;
    color: #121212;
    grid-column: 1 / -1; /* Ocupa a linha inteira em telas maiores */
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 920px) {
    .nextClientCard {
        grid-column: span 2; /* Ocupa 2 colunas */
    }
}

.nextClientCard h3 {
    color: #121212;
    font-size: 1.5rem;
}

.nextClientCard p {
    color: #333;
}

.nextClientIcon {
    font-size: 2.5rem;
    color: #121212;
}
