/* LandingPage.module.css */

.landingContainer {
  width: 100vw;
  height: 100vh;
  background-image: url('/barber-pole.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.landingContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.header,
.mainContent,
.botaoContainer {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header {
  padding: 2rem 4rem;
  width: 100%;
}

.header h3 {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  width: 100%;
}

.slogan {
  color: #fff;
  max-width: 600px;
  margin: 2rem 0;
}

.slogan h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  margin: 0;
}

.destaque {
  font-family: 'Dancing Script', cursive;
  color: #F2C12E;
  font-size: 5rem;
  font-weight: 700;
  margin-top: -0.4rem;
  display: block;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.botaoContainer {
  background-color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.botaoContainer button {
  background-color: #F2C12E;
  border: none;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.botaoContainer button:hover {
  background-color: #e5b61b;
}

.logo {
  height: 50px; /* Ou o tamanho que preferir */
  width: auto;
}

/* --- SEÇÃO DE RESPONSIVIDADE --- */
@media (max-width: 768px) {
  .header {
    padding: 1.5rem; /* Reduz o padding do cabeçalho */
    text-align: center; /* Centraliza o nome da barbearia */
  }
  
  .mainContent {
    padding: 2rem;
    align-items: center; /* Centraliza o slogan */
    text-align: center; /* Centraliza o texto do slogan */
  }

  .slogan h1 {
    font-size: 2.5rem;
  }

  .destaque {
    font-size: 3rem;
  }

  .botaoContainer button {
    width: 90%; /* Faz o botão ocupar mais espaço na tela */
  }
}
